/* home section1 start form here */
/* version 0.1 */
.section_1Home{
    width: 1512px;
    height: 680px;
    background: url("file:///C:/Users/insta/OneDrive/Desktop/Projects/GitHub/Project_Athlete/Project_Athlete/white-wave-bg.svg") center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);
}
.Homecontent{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}
.Hometext{
    width: 100%;
    height: 50%;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/2;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
}
.Hometext h1{
    width: 68%;
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    margin-right: 5%;
}
.Hometext p{
    position: relative;
    bottom: 30px;
    display: inline-block;
    width: 65%;
    font-size: 20px;
    font-weight: 400;
    margin-right: 8%;
}

.sing{
    position: relative;
    display: flex;
    justify-content: center;
    width: 83%;
    gap: 10px;
    bottom: 40px;
}
.sing input{
    width: 310px;
    border-radius: 5px;
    height: 46px;
}
.sing button{
    padding: 5px;
    padding:0px 20px;
    background-color: rgb(0, 101, 255);
    border: 1px solid rgb(0, 101, 255);
    font-size: 1rem;
    height: 46px;
    border-radius: 5px;
}
.Hometext a{
    width: 64%;
    position: relative;
    text-align: left;
    bottom: 55px;
    text-decoration: underline;
    font-weight: 400;
}
.Hometext svg{
    right: 27.5rem;
    bottom: 54px;
    position: relative;
    transition: 1.7s;
    width: 30px;
    
}
.Hometext svg:hover{
    right: 26rem;
}
.Homeimage {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}
.Homeimage img{
    height: 90%;
    object-fit: cover;
    
    
}
/* home section1 end here */
.home-section4{
    background: linear-gradient(rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto no-repeat scroll padding-box border-box transparent;
    background-blend-mode: normal;
}
.price-description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.price-description-container h1{
    font-size: 40px;
    font-weight: 700;
    color: rgb(23, 43, 77);
    margin-bottom: 10px;
    font-weight: 600;
}
.price-description-container button{
    padding: 8px 20px;
    border-radius: 5px;
    background-color: rgb(0, 101, 255);
    border: 1px solid rgb(0, 101, 255);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}
.price-description-container button:hover{
    background-color: rgb(0, 82, 204);
    border-color: rgb(0, 82, 204);
}
.price-description-container p{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}
.price-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.price-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px;
  width: 300px;
  height: 500px;
  cursor: pointer;
} 
.price-card-active{
    outline: 1px solid rgb(0, 101, 255);
}  
.price-card h1 {
    font-size: 22px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
  }
.price-card h2 {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}
.price-card h2 span {
  font-size: 54px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}
.desc-container{
    height: 200px;
}
.price-card .large-desc{
    font-size: 18px;
    color: rgb(9, 30, 66);
    margin-bottom: 10px;
    font-weight: 500;
}

.price-card .small-desc{
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.price-card button {
  padding: 8px 20px;
  border: 1px solid rgb(0, 184, 217);
  border-radius: 5px;
  background-color: #fff;
  color: rgb(23, 43, 77);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  /* margin-top: 2rem; */
}

.price-card button:hover {
  background-color: rgb(230, 252, 255);
  border-color: rgb(0, 184, 217);
}

.btn-active{
    background-color: rgb(230, 252, 255) !important;
    border-color: rgb(0, 184, 217) !important;
}
.price-card .link-btn{
    background-color: transparent;
    padding: 0;
    margin-top: 2rem;
}
.price-card .link-btn span{
    text-decoration: underline;
    color: rgb(0, 82, 204);
    font-weight: 600;
    font-size: 15px;
}
.price-card .link-btn span:hover{
    color: rgb(0, 101, 255);
}

.home-section4 .brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
}
.home-section4 p{
    font-size: 18px;
    color: rgb(9, 30, 66);
    margin-bottom: 10px;
    font-weight: 600;
}

.home-section4 .subscribe-container{
    background-image: url(../images/subscribe-banner.png);
    background-blend-mode: normal, normal, normal;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    height: 30vh;
    /* width: 100vw; */
    margin-top: 4rem;
}
.home-section4 .subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    height: 100%;
}
.home-section4 .subscribe-form h1{
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-weight: 600;
}

.home-section4 .subscribe-form .input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.home-section4 .subscribe-container input{
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 1rem;
    width: 450px;
}

.home-section4 .subscribe-container button{
    padding: 8px 20px;
    border-radius: 5px;
    background-color: rgb(0, 101, 255);
    border: 1px solid rgb(0, 101, 255);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}