.container{
    display: grid;
    width:100%;
    height:110px;
    grid-template-rows:50% 50%;
    grid-template-columns: 60% 40%;
    
}
.shadow{
    width: 100%;
    height: 55px;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-evenly;
    gap: 190px;
}
.shadow:hover{
    box-shadow:  5px 3px 13px  rgb(66, 94, 135);;
    z-index: 1;
    transition: .8s;
}
.section1_Navbar{
    justify-content:space-around;
    grid-row:1/2;
    grid-column:1/2;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:44px;
    
}
.logo p {
    font-weight: 700;
    position: relative;
    right: 15px;
    font-size: 10px;
    bottom: 10px;
    top: 5px;
}
.navbar{
    font-family: sans-serif;
    font-weight: 400;
}
.section1_Navbar ul li:hover{
color: blue;
}
.section_login{
    grid-column: 2 / 3;
    display: flex;
    position: relative;
    left: 67px; 
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.section_login h3{
    color:#172b4d;
    font-size: 19px;
    font-weight: 400;
}
.section_login a{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
    width: 12.4rem;
    background-color: blue;
}
.section3_ribin{
   grid-row-start: 2;
   grid-column-start: 1;
   grid-column-end: 3;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   background-color: rgb(222, 235, 255);
}
.section3_ribin p{
    height: 0px;
    color:rgb(9, 30, 66);
}
.section3_ribin a{
    appearance: none;
    appearance: none;
    background: transparent;
    color: blue;
    text-decoration: underline;
    padding: 2px;
}
.section3_ribin a:hover{
    background-color: transparent;
    color: rgb(1, 1, 212);
}



/* .section3_ribin a:hover{
    background-color: transparent;
    color: rgb(1, 1, 212);
}
 */

/*  */