.background{
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('..\images\Screenshot 2024-05-19 221019.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.section_Login{
    overflow:hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}
.item_holders{
   position: relative;
    top: 28px;
    background-color: white;
    box-shadow: -1px -2px 20px rgb(211, 207, 207);
    height: 95vh;
    width: 25vw;
    display: grid;
    justify-items: center;
    align-items: initial;
    grid-template-columns: 100% ;
    grid-template-rows: 5% 16% 30% 25%;
    gap: 50px;
}
.logo{
display: grid;
grid-row: 1;
justify-items: center;
align-items: center;
}
.logo img{
position: relative;
top: 0px;
height: 35%;
}
.input{
    display: flex;;
    align-content:flex-start;
    width: 80%;
    display: grid;
    grid-row: 2;
    gap: 10px;
}
.input p{
    font-size: 14px;
    font-weight: 700;
}
.input input ,.input button{
height: 2.5rem;
}
.orContinueWith{
    display: grid;
    gap: 15px;
    width: 80%;
    grid-auto-rows: 3;
}
.orContinueWith >p{
    color: rgb(94, 108, 132);
    font-size: 14px;
    text-align: center;
}
.icons{
    height: 40px;
    border: 1px solid rgb(193, 199, 208);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}
.icons p{
font-weight: 700;
}
.creatAnAcount{
    height: 40px;
     color:  var(--ds-link, #0052cc);
     font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid rgb(193, 199, 208); ;
}
.footer{
    height: 100%;
    width: 100%;
    grid-row: 4;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}
.footer .logos{
    grid-row: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 10px;
}
.footer .logos h5{
    color:rgb(94, 108, 132); ;
    font-weight: 700;
}
.color{
    color:rgb(94, 108, 132);;
}
.footerText{
    grid-template-rows: 2;
    width: 72%;
    height: 88px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 10px;
}
.footerText p{
line-height: 10px;
font-size: x-small;
}
.footerText .link{
    color: #0052cc;
}

.card-active{
    border:2px solid black;
    background-color: #e9f2ff;
}
.card-inactive{
    border:2px solid gray;
    background-color: transparent;
}

.buttonActive{
    background-color: rgb(0 128 255);
    color: white;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 18px
}
.buttonInactive{
    background-color: rgba(169, 165, 165, 0.515);
    color: rgb(125, 122, 122);
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 18px
}

.magicpattern { 
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(150 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23fcea99%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23ff90a8%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M803.5 627.5Q804 755 680 785t-262.5 63.5Q279 882 177.5 768t-66-255.5Q147 371 248 305t218.5-172.5q117.5-106.5 238-6t109.5 237q-11 136.5-10.5 264Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M803.5 627.5Q804 755 680 785t-262.5 63.5Q279 882 177.5 768t-66-255.5Q147 371 248 305t218.5-172.5q117.5-106.5 238-6t109.5 237q-11 136.5-10.5 264Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }

  .magicpattern1 { 
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-45 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%238EC5FC%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23E0C3FC%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M803.5 627.5Q804 755 680 785t-262.5 63.5Q279 882 177.5 768t-66-255.5Q147 371 248 305t218.5-172.5q117.5-106.5 238-6t109.5 237q-11 136.5-10.5 264Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M803.5 627.5Q804 755 680 785t-262.5 63.5Q279 882 177.5 768t-66-255.5Q147 371 248 305t218.5-172.5q117.5-106.5 238-6t109.5 237q-11 136.5-10.5 264Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  