body {
  background-color: rgb(255, 255, 255);
  color: rgb(23, 43, 77);;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}



